<!DOCTYPE html>
<html>
  <head>
    <title>Monte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.blob = '<%= image_url("greenstuff.png") %>'
      window.globe = '<%= image_url("globe.jpg") %>'
      window.diamond = '<%= image_url("diamond.png") %>'
      window.logo = '<%= image_url("eaglelogo.jpeg") %>'
    </script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
